*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}

body{
    background-color: #162b5e;
}
.contendor {
    position: relative;
}
footer{
    background-color: #f6f0eb;
}
.portada{
    width: 100%;
    height: auto;
    filter: brightness(60%);
}
                                /*efecto scroll */

                                .fadeTop {
                                    opacity: 0; 
                                    transform: translate(0, 10vh);
                                    transition: all 1.5s;
                                  }
                                  
                                  .fadeRight {
                                    opacity: 0;
                                    transform: translate(10vh, 0vh);
                                    transition: all 1.5s;
                                  }
                                  
                                  .fadeLeft {
                                    opacity: 0;
                                    transform: translate(-10vh, 0vh);
                                    transition: all 1.5s;
                                  }
                                  
                                  .fadeBottom {
                                      opacity: 0;
                                      transform: translate(0, -10vh);
                                      transition: all 1.5s;
                                  }

                                  .visible {
                                    opacity: 1;
                                    transform: translate(0, 0);
                                  }
                                            /*efecto scroll */

.contenido-portada {
    margin: 5px;
    padding: 10px;
    position: absolute;
    margin-top: 10px;
    top: 25vw;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
    flex-wrap: wrap;  
}

.logoportada{
    width: 100%;
    height: auto;
}

.logoletras{
    width: 100%;
    height: auto;
}

.leyenda{ /*TAMAÑO DE FUENTE DE LETRAS DE PORTADA */
    font-size: 1.5vw;
}

.logo{
    width: 250px;
    height: 50px;
}

.container-fluid{
    text-align: justify;
    bottom: 10px;
}

#con-frase{
    background-color:#162b5e;
    color: white;
}

.contpar{ /* Contenedor del parallax */
    max-width: 100%;
    margin:  auto;
    background:  #2f3232;
    font-size: 24px;
}
.parallax-window { /* lo que hay dentro del parallax */
    min-height: 400px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background: transparent;
    filter: brightness(60%);
}
.image{
    width: 100%;
    height: auto;
    filter: brightness(50%);
}

.icon-service{
    width: 20%;
    margin-bottom: 20px;
    height: auto;
}
footer .col-sm{
    margin: 10px;
}

.charge{
    color: black;
    font-size: 40px;
}

@media screen and (max-width: 780px){
    .charge{
        font-size: 30px;
    }
}

@media screen and (max-width: 520px){
    .charge{
        font-size: 20px;
    }
}

.box-icon{
    font-size: 40px;
}

#disable-nav-bar {
    text-decoration: none;
    cursor: default;
    border-bottom-width: 2px;
    border-bottom-color: #273362;
    border-bottom-style: solid; 
    color: #5EBFBF;
    pointer-events: none;
}

.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.jumbo-contact {
    height: 100%;  
    width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover, a:focus {
    background-size: 100% 2px;
}




#desplegable ul {
    margin: 50px;
    padding: 5px;
}


/* color del fondo del contenedor */

#desplegable div div {
}


/* estilo predefinido al contenedor */

#desplegable div a {
    display: block;
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}


/* posicion del contenedor en la pagina */

#desplegable div div {
    position: relative;
    margin: 0;
    padding: 0;
}


/* efecto del contenedor al pasar el mouse por encima */

#desplegable div div:hover {
    background: #f5f5f5;
    margin-bottom: 25%;
}

@media screen and (max-width: 1620px){
    #desplegable div div:hover{
        margin-bottom: 30%;
    }
}
@media screen and (max-width: 500px){
    #desplegable div div:hover{
        margin-bottom: 50%;
    }
}

/* Quitarenos la visivilidad con display:none cuando no estemos encima */

#desplegable div ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
}


/* Tamaño del contenido. AL estar al 100% el ancho se ajustara al ancho del contenedor */

#desplegable div ul li {
    float: none;
    width: 100%;
}


/* Visualizaremos al pasar por encima el contenido de la lista o lo que queramos meter dentro. */

#desplegable div div:hover>ul {
    display: block;
}


@media and screen( max-width: 1000px){
    .leyenda{
        font-size: 10px ;
    }
}
